body{
    
     margin: 0 20px;
     padding: 0;
     font-family: 'Inter', sans-serif;
     font-family: 'Merriweather', serif;
 }
 /* header section style */
 header{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .new-year-banner{
    background-image: url('Banner Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1400px;
    height: 600px;
    
 }
 
 .new-year-banner-heading{
 color: #FFF;
 text-align: center;
 font-family: Merriweather;
 font-size: 25px;
 font-weight: 400;
 margin-top: 10px;
 }    
 
 .new-year-banner-para{
 color: #FFF;
 text-align: center;
 font-family: Merriweather;
 font-size: 50px;
 font-weight: 900;
 margin-top: 5px;
 }

 .discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
 }
 .holiday-deal{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom:5px ;
 }
 .all-catagories{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 5px;
}
.img-discount-banner{
    height: 500px;
    margin-bottom: 120px;
}
.midnight-party{
    background-image: url('Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1300px;
    position: relative;

}
.welcome-midnight-party{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
position: absolute;
left:100px;
/* bottom: 50px; */
top: 50px;
}
.welcome-midnight-party-para{
color: rgba(255, 252, 252, 0.952);
font-family: Inter;
font-size: 18px;
font-weight: 400;
position: absolute;
left:100px;
/* bottom: 20px; */
top:285px;
}
.trasparent-button{
background-color: transparent;
border:0px;
color:white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
position: absolute;
margin:500px 500px 500px 100px ;
}

.trasparent-button:hover{
color: #FFB801;
text-shadow:black;
}

/* main section  */
main{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
}

.gradiant-box {
    background: linear-gradient(to bottom, #FFEAEA, white);
    /* border: 1px solid black; */
    margin: 150px 0px;
    border-radius: 5px;
}
.red-text{
color:red;
font-family: Inter;
font-size: 32px;
font-weight: 600;
}


.grad-box-para{
color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.red-button{
border-radius: 8px;
background: #F00;
border:0px;
padding:16px 32px 16px 32px;
color:#FFF;
font-size: 20px;
font-weight: 700;
font-family: Inter;
}
