body{
    
     margin: 0;
     padding: 0;
     font-family: 'Inter', sans-serif;
     font-family: 'Merriweather', serif;
 }
 /* header section style */
 header{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .new-year-banner{
    background-image: url('Banner Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1500px ;
    
    
 
 
 }
 
 .new-year-banner-heading{
 color: #FFF;
 text-align: center;
 font-family: Merriweather;
 font-size: 25px;
 font-weight: 400;
 margin-top: 10px;
 }    
 
 .new-year-banner-para{
 color: #FFF;
 text-align: center;
 font-family: Merriweather;
 font-size: 50px;
 font-weight: 900;
 margin-top: 5px;
 }

 .discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
 }
 .holiday-deal{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom:5px ;
 }
 .all-catagories{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 5px;
}
.img-discount-banner{
    height: 325px;
}